name: C++ Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Clang Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-format-15 clang-tidy-15

    - name: Check Formatting
      run: find src include tests -name '*.cpp' -o -name '*.hpp' | xargs clang-format-15 --dry-run -Werror

    - name: Configure CMake
      run: >
        cmake -S . -B build 
        -DCMAKE_BUILD_TYPE=Debug 
        
    - name: Build
      run: cmake --build build

    - name: Run tests
      run: ctest --test-dir build --output-on-failure
